body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px 5%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #fdfdfd 80%, rgb(251, 236, 211) 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

button {
    background-color: #fb7b2d;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d46920;
}

.color-1 {
    color: #fb7b2d;
}

.color-2 {
    color:black
}

.header-sign-button {
    font-size: 17px;
}

.JezSalad {
    font-size: 26px;
    font-weight: 700;
}

.h-link:hover {
    color: #fb7b2d;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.page-left { 
    margin-top: 100px;
}
.tag {
    margin-top: 200px;
    background-color: #FFF1DE;
    border-radius: 100px;
    font-weight: 600;
    color: #FB9333;
    padding: 16px;
}

.or-tag {
    color: #FB9333;
}

.main-page {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
}

.main-page-left {
    width: 50%;
}

.page-heading {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    margin-top: 50px;
}

.page-subheading {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;

}

.section-text {
    font-size: 20px;
    color: #828282;
    margin-top: auto;
}


.order-button {
    font-size: 18px;
    align-self: flex-start;
    margin-bottom: auto;
}


.main-page-stats-nums   {
    font-size: 20px;
    font-weight: 500;
}

.main-page-stats-sub {
    font-size: 16px;
    color: #7a7a7a;
    margin-top: auto;
}

.lpage-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-page-stats {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.main-page-stats-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.woman-image {
    position: absolute;
    top: 30px;
    right: 0;
    object-fit: cover;
    z-index: -1;
}



.customer-feedback {
    position: relative;
    width: 50%;
}


.title-image-rating {
    background-color: white;
    position: absolute;
    bottom: 70px;
    right: 410px;
    display: flex;
    flex-direction: row;
    border-radius: 60px;
    padding: 10px;
    padding-right: 35px;
}

.container {
    display: flex;
    width: 30%;
    gap: 3px;
    
}

.container {
    display: flex;
    gap: 7px;
}

.progress-1 {
    width: 10px;
    height: 13%;
    writing-mode: vertical-lr;
    border-radius: 10px;
    background: white;
}

.progress-1::-moz-progress-bar {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,213,0,1) 20%, rgba(255,157,0,1) 100%);
}


.benefit {
    margin-top: 120px;
    margin-bottom: 90px;
    width: 100%;
}

.reasons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    font-weight: 400;
}

.reason {
    text-align: left;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    width: 50%;
}

.we-continue {
    font-size: 20px;
    width: 40%;
    color: #828282;
}


.card-text {

    font-size: 24px;
    font-weight: 600;
    margin-top: auto;
}

.reasons-card-text {
    font-size: 16px;
    color: #575757;

}
.reasons-card-link-text {
    font-size: 16px;
    color: inherit;

}

.reasons-card-link {
    display: inline-flex;
    align-content: center;
    gap: 5px;
    margin-bottom: 10px;
    align-self: self-start;
    background: white;
    padding: 15px 20px;
    border-radius: 40px;
    color: #575757;
    margin-top: auto;

}

.cards  {
    background: white;
    border-radius: 50px;
    padding: 30px 40px;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 310px;
    text-align: left;
    transition: box-shadow 0.3s ease;
    border: 1px solid rgba(255, 165, 0, 0.1);
}

.cards:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.group-reasons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.card-image {
    width: 130px;
    height: 130px;
}


.customer-reviews {
    margin-top: 100px;
    background: rgb(253, 245, 232);
    position: relative;
    width: calc(100%);
    left: -5.5%;
    padding: 10% 5%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 440px;

}

.cards:hover .group-button {
    background-color: orange;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 10px;
    width: 35%;
    transition: all 0.3s ease;
}


.reviews-1 {
    margin-top: 100px;
    background: rgb(253, 245, 232);
    position: relative;
    width: calc(100%);
    left: -5.5%;
    padding: 10% 5%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 440px;

}


.head-text {
    font-size: 48px;
    font-weight: 600;
}

.text {
    font-size: 16px;
    color: #999999;
}

.numbers {
    font-size: 48px;
    font-weight: 700;
}

.numbers-small {
    font-size: 22px;
    color: #CCCCCC;
    font-weight: 400;
}

.button {
    width: 56px;
    height: 56px;
    padding: 5px;
    border-radius: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-arrows-image {
    width: 24px;
}

.container-1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.next-previous-page {
    display: flex;
    gap: 20px;
}

.about-us-button:hover {
    background-color: rgb(247, 202, 133);
}

.about-us-arrows-image{
    filter: brightness(0) invert(1);
}



.person-name {
    font-size: 24px;
    font-weight: 600;
}

.person-age {
    font-size: 14px;
    color: #999999;
}

.about-us-testimonial-description {
    color: #575757;
    font-size: 16px;
}

.person-image {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -10%;
    left: 7%;
}

.person {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 253, 249);
    width: 26%;
    height: 400px;
    justify-content: end;
}

.people {
    display: flex;
    width: 60%;
    justify-content: space-between;
    position: absolute;
    right: -7%;
}


.menu-heading {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-subheading {
    font-weight: 500;
    font-size: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-text {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0px;
}

.menu-page {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.menu-card {
    position: relative;
    height: 510px;
    width: 28%;
    border-radius: 50px;
    background-size: cover;
    background-position: center 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: var(--white);
}

.menu-number {
    color: white;
    font-size: 40px;
    font-weight: 700;

}

.menu-text-1 { 
    color: white;
    font-weight: 321;
    line-height: 31px;
    font-size: 24px;
}

.subscribe-page{
    position: relative;
    width: 60%;
    margin: auto;
    height: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.subscribe-to-get {
    font-size: 48px;
    font-weight: 600;
}

.text-21 {
    font-size: 16px;
    color: #575757;
    width: 100%;
    text-align: center;
}

.promo-2 {
    font-size: 16px;
    color: #575757;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #FB9333;
    color: white;
    font-weight: 600;
    padding: 18px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.subscription-button:hover {
    background-color: #e07d2b;
}


.subscription {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(253, 242, 224);
    position: relative;
    padding: 40px 0;
    gap: 20px;
    border-radius: 30px;
    aspect-ratio: 16 / 7;

    z-index: 1;
}

.email {
    border: none;
    width: 100%;
    outline: none;
}

.form {
    margin-top: 50px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    padding: 9px 13px;


}

.our {
    color: orange;
}