body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px 5%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #fdfdfd 80%, rgb(251, 236, 211) 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

button {
    background-color: #fb7b2d;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d46920;
}

.color-1 {
    color: #fb7b2d;
}

.color-2 {
    color:black
}

.header-sign-button {
    font-size: 17px;
}

.JezSalad {
    font-size: 26px;
    font-weight: 700;
}

.h-link:hover {
    color: #fb7b2d;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.page-left { 
    margin-top: 100px;
}
.tag {
    margin-top: 200px;
    background-color: #FFF1DE;
    border-radius: 100px;
    font-weight: 600;
    color: #FB9333;
    padding: 16px;
}

.or-tag {
    color: #FB9333;
}

.main-page {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
}

.main-page-left {
    width: 50%;
}

.page-heading {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    margin-top: 50px;
}

.page-subheading {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;

}

.section-text {
    font-size: 20px;
    color: #828282;
    margin-top: auto;
}


.order-button {
    font-size: 18px;
    align-self: flex-start;
    margin-bottom: auto;
}


.main-page-stats-digits   {
    font-size: 25px;
    font-weight: 500;
}

.main-page-stats-sub {
    font-size: 16px;
    color: #7a7a7a;
    margin-top: auto;
}

.lpage-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-page-stats {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.main-page-stats-item {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}




